@charset "utf-8";

video {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

h3 {
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 0;
}

h4 {
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 1.5em;
}

li.total {
	list-style-type: none;
	font-weight: bold;
	max-width: 80%;
	border-top: 2px solid blue;
	padding-top: .2em;
}